@import "../../resources/styles/vars";

.recipeContainer {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.alignLeft {
  justify-content: flex-start;
}

.infoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rightAligned {
  justify-content: right;
}

.timeIcon {
  margin-left: 4px;
}

.imageIngredientsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row-reverse;
  }
}

.growContainer {
  flex: 1 1 0;
}

.recipeStepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.stepRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.longText {
  word-break: break-word;
}

.recipeDivider {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 1px;
  background-color: $border-color;
}

.stepSpace {
  height: 20px;
}
