@import "../../../resources/styles/vars";

.tagContainer {
  margin-top: $space-small;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  flex-wrap: wrap;
  font-weight: normal;
}

.left {
  justify-content: flex-start;
}

.fadeOverflow {
  @extend .left;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.center {
  justify-content: center;
}

.transparency {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}
