@import "../../resources/styles/vars";

.dropdownBase {
  height: 2.5rem;
  cursor: pointer;
  font-weight: 600;
  border: none;
  color: black;
  background-color: white;
  transition: background-color 500ms, color 250ms, border 250ms;
  font-size: inherit;

  &:hover {
    filter: brightness(0.9);
    border-color: $primary-color;
  }
}

.dropdownOptionBase {
}

.dropdown-variant-opaque {
  font-weight: normal;
}

.dropdown-variant-outlined {
  border-radius: $border-radius;
  border: 1px solid black;
}

.dropdown-size-normal {
  width: 180px;
}

.dropdown-size-auto {
  width: auto;
}
