@import "../../../resources/styles/vars";

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.border-all {
  border-radius: $border-radius;
}

.border-bottom {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.border-top {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.pdf {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.iFrameEmbed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.iFrameEmbedWrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding: 0;
  overflow: hidden;
  border-radius: $border-radius;
}
.iFrameAspectRatio {
  padding-bottom: 135%;
}
