@import "../../../resources/styles/vars";

.editRecipeBookCardColumn {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formRowBase {
  margin-top: 1rem;
  width: 100%;
}

.formRow {
  @extend .formRowBase;

  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  display: flex;
}

.formLabel {
  margin-right: 10px;
  text-align: right;
}

.textInputSpan {
  margin-left: 10px;
}

.formInputElement {
  width: 100%;
}

.formSplitRowElement {
  flex: 1;
}

.splitFormRow {
  @extend .formRowBase;

  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}

.splitFormRowElement {
  flex: 1;
}

.textAreaElement {
  min-height: 10rem;
}

.ingredientsTableContainer {
  width: 100%;
}

.unsavedChangesText {
  color: $secondary-color;
}

.saveRecipeBookButton {
  width: 140px;
}
