@import "../../../resources/styles/vars";

.ingredientsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ingredientTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.portionForm {
  width: 128px;
  color: black;
}

.ingredientTable {
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  border-spacing: 0;

  tr:not(:last-child) {
    td {
      border-bottom: 1px solid gray;
    }
  }

  th {
    border-bottom: 1px solid gray;
  }
}

.ingredientHeading {
  margin-top: 1rem;
}

.ingredientRowElement {
  padding: 8px 5px;
}

.ingredientNameContainer {
  width: 70%;
}
