@import "../../../resources/styles/vars";

.imageUploadContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
  border-radius: $border-radius;
  overflow: hidden;
}

.removeImageButton {
  position: absolute;
  top: 4px;
  right: 4px;

  &:active {
    padding: 1px;
  }
}

.fileUploadInput {
  opacity: 0;
  width: 1px;
  height: 1px;
}

.fileUploadInput:focus + .fileUploadInputLabel {
  border: 1px solid blue;
  transition: border 0ms;
}

.fileUploadInputLabel {
  background-color: rgba(0, 150, 0, 0.2);
  border: 1px dashed black;
  width: 100%;
  max-width: 300px;
  border-radius: $border-radius;
  padding: 1rem 0;
  text-align: center;
  cursor: pointer;
  transition: border 300ms, filter 300ms;
  display: flex;
  flex-direction: column;

  &:hover {
    border: 1px solid black;
    filter: brightness(1.4);
  }
}
