@import "../../../resources/styles/vars";

.buttonBase {
  padding: $space-small;
  border-radius: $border-radius;
  background-color: black;
  color: white;
  //border: 1px solid white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1),
    0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12);
    cursor: default;
    box-shadow: none;

    &:hover {
      filter: none;
    }
  }
}

.button-size-normal {
  width: 100px;
  height: 36px;
}

// TODO: large/small button sizes taken at random, set reasonable values for these when needed.
.button-size-large {
  width: 140px;
  height: 44px;
}

.button-size-small {
  width: 80px;
  height: 26px;
}

.button-primary {
  background-color: $primary-color;
}

.button-secondary {
  background-color: $secondary-color;
  color: $secondary-text-color;
}

.button-opaque {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.button-outlined {
  border: 1px solid white;
  box-shadow: none;
  background-color: unset;
  transition: background-color 400ms, color 250ms;

  &:hover {
    background-color: white;
    color: $primary-color;
    border-color: $primary-color;
    filter: none;
  }
}

.iconButton {
  border-radius: 100%;
  box-sizing: content-box;
  box-shadow: none;

  &:disabled {
    background-color: unset;

    .iconButtonIcon {
      filter: opacity(50%) !important;
    }
  }
}

.iconButtonSize-normal {
  width: 24px;
  height: 24px;
  padding: 12px;

  .iconButtonIcon {
    font-size: 1.5rem;
  }
}

.iconButtonSize-tiny {
  width: 18px;
  height: 18px;
  padding: 2px;

  .iconButtonIcon {
    font-size: 14px;
  }
}

.iconButtonSize-small {
  width: 16px;
  height: 16px;
  padding: 8px;

  .iconButtonIcon {
    font-size: 1rem;
  }
}

.iconButtonSize-large {
  width: 32px;
  height: 32px;
  padding: 16px;

  .iconButtonIcon {
    font-size: 2rem;
  }
}

.iconButtonIcon {
}
