@import "../../../resources/styles/vars";

.footerContainer {
  background-color: black;
  width: 100%;
  margin-top: 2rem;
  padding-top: 24px;
  padding-bottom: 24px;

  * {
    color: #ededf0;
  }

  select {
    color: black;
  }
}

.footerContentContainer {
  padding: 24px 20px;
  margin: 0 auto;

  max-width: 1440px;
  min-width: 256px;
  position: relative;
  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    padding: 80px;
  }
}

.footerLogoDevelopedByContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.developedByText {
  margin-left: 1rem;
}

.changeLocaleDropdown {
  width: 200px;
}
