@import "vars";

@media print {
  /* All your print styles go here */
  header, footer, nav, button { display: none !important; }
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

* {
  box-sizing: border-box;
  font-family: $font;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.card {
  background-color: white;
  border-radius: $border-radius;
  padding: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.paddingSides {
  padding: 0 $space-small;
}

.padding {
  padding: $space-small;
}

.margin {
  margin: $space-small;
}

.marginSides {
  margin: 0 $space-small;
}

.marginLeftSmall {
  margin-left: $space-tiny;
}

.marginRightSmall {
  margin-right: $space-tiny;
}

.marginTopSmall {
  margin-top: $space-tiny;
}

.marginBottomSmall {
  margin-bottom: $space-tiny;
}

.marginLeft {
  margin-left: $space-small;
}

.marginRight {
  margin-right: $space-small;
}

.marginTop {
  margin-top: $space-small;
}

.marginBottom {
  margin-bottom: $space-small;
}

.marginLeftBig {
  margin-left: $space-big;
}

.marginRightBig {
  margin-right: $space-big;
}

.marginTopBig {
  margin-top: $space-big;
}

.marginBottomBig {
  margin-bottom: $space-big;
}

.preserveWhitespace {
  white-space: pre-wrap;
}

.space {
  width: $space;
  height: $space;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 42px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

p {
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.noStyleLink {
  color: unset;
  text-decoration: unset;
}

.errorText {
  color: red;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verticalCenterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-small;
}

.centeredRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.fullHeight {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fill {
  flex: 1;
}

.breakWord {
  word-break: break-all;
}

.centerText {
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}