@import "../../../resources/styles/vars";

.createStepsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepsContainer {
  width: 100%;
}

.stepContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stepMovementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.stepTextAreaContainer {
  flex: 1;
}

.stepTextArea {
  min-height: 6rem;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: $space;
  height: 2rem;
  width: 300px;

  button {
    flex: 1;
    transition: filter 300ms;
    border: 1px dashed black;
    border-radius: $border-radius;

    &:hover {
      filter: brightness(1.8);
      cursor: pointer;
      border: 1px solid black;
    }

    &:first-child {
      background-color: rgba(100, 100, 0, 0.2);
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      background-color: rgba(0, 100, 0, 0.2);
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  div {
    width: 1px;
    background-color: black;
  }
}