$font: SourceSansPro, -apple-system, system-ui;

$primary-color: #388e3c;
$secondary-color: #ff9100;

$primary-text-color: #ffffff;
$secondary-text-color: #000000;

$space-big: 2rem;
$space: 1rem;
$space-small: 0.5rem;

$border-radius: 4px;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-large-desktop: 1800px;
