$font: SourceSansPro, -apple-system, system-ui;

$primary-color: #388e3c;

$primary-text-color: #ffffff;
$secondary-text-color: #000000;

$space-big: 2rem;
$space: 1rem;
$space-small: 0.5rem;

$border-radius: 4px;

$title-text: 42px;
$small-title-text: 24px;
