$font: SourceSansPro, -apple-system, system-ui;
$unicode-font: DejaVuSans, -apple-system, system-ui;

$primary-color: #388e3c;
$secondary-color: #ff9100;

$primary-color-selected: #90c070;
$primary-color-selected-hover: #70a450;
$primary-color-selected-active: #489050;

$gray-color: lightgrey;
$gray-color-hover: #f1f1f1;
$gray-color-active: #b0b0b0;

$border-color: rgba(0, 0, 0, 0.3);

$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$link-color: white;

$space-big: 2rem; // 32px
$space: 1rem; // 16px
$space-small: 0.5rem; // 8px
$space-tiny: 0.25rem; // 4px

$border-radius: 4px;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-large-desktop: 1800px;