@import "../../../resources/styles/vars";

.newTagContainerForm {
  background-color: white;
  border-radius: $space-tiny;
  padding: $space-small;
  border: 1px solid #707070;

  display: flex;
  flex-direction: column;
  gap: $space-tiny;
}

.newTagRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-small;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.newTagActionButtonGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newTagColorButton {
  height: 40px;
  width: 40px;
  border-radius: $space-tiny;
  border: none;
  padding: 0;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 1px 1px $border-color;
  }

  &:active {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.colorPickerBase {
  position: absolute;
  z-index: 2;
}

.colorPickerCover {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.tagsColorPicker {
  margin-left: -10px;
  margin-top: 30px;
}

.newTagActionButton {
  display: inherit;
  align-items: center;
  width: auto;
}

.randomiseIcon {
  color: inherit;
  margin: auto $space-tiny;
}

.colorPickerRoot {
  margin-left: 8px;
  position: absolute;
}
