@import "../resources/styles/vars";

.loginContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInButton {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  margin-top: $space-small;
}

.signInButtonIcon {
  width: 32px;
  height: 32px;
  font-size: 28px;
  margin: 0 15px;
}

.githubButton {
  background-color: rgb(64, 64, 64);
  color: white;
  font-weight: 600;

  &:hover {
    background-color: rgb(32, 32, 32);
  }
}

.googleButton {
  color: black;
  background-color: white;

  &:hover {
    background-color: #e0e0e0;
  }

  &:active {
    background-color: #c0c0c0;
  }
}

.facebookButton {
  background-color: #4267b2;
  color: white;
}

.microsoftButton {
  background-color: white;
  color: black;
}
