@import "../../../resources/styles/vars";

$recipe-book-card-width: 310px;
$recipe-book-card-height: 424px;

.recipeBookCard {
  padding: 0;
  width: $recipe-book-card-width;
  height: $recipe-book-card-height;
  overflow: hidden;

  &:hover,
  &:focus-visible {
    text-decoration: none;

    border: 1px solid $primary-color;

    p {
      color: black;
    }
  }

  p {
    transition: color 600ms;

    color: rgba(0, 0, 0, 0.4);
  }

  display: flex;
  flex-direction: column;
}

.recipeBookCardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeBookCardContent {
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex: 1;
}

.recipeBookCardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottomRightAligned {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fill {
  flex: 1;
}

.recipeBookCardImageContainer {
  border-bottom: 1px solid black;
  background-color: rgba(0, 80, 0, 0.1);
}
