@import "src/resources/styles/vars.scss";

.buttonBase {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }

  &:focus {
    filter: brightness(1.1);
  }
}

.button-size-normal {
  width: 100px;
  height: 36px;
}

.button-primary {
  background-color: $primary-color;
}

.button-secondary {
  background-color: $secondary-color;
  color: $secondary-text-color;
}
