@import "../resources/styles/vars";

.dropdownBase {
  width: 180px;
  height: 2.5rem;
  border-radius: $border-radius;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 600;
  color: black;
  background-color: white;
  transition: background-color 500ms, color 250ms, border 250ms;

  &:hover {
    filter: brightness(0.9);
    border-color: $primary-color;
  }
}

.dropdownOptionBase {
}
