@import 'src/resources/styles/vars.scss';

.headerContainer {
  margin-bottom: $space-big;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  h1 {
    font-size: $title-text;
    font-weight: 400;
  }
}

.header {
  width: 100%;
  background-color: $primary-color;
  color: $primary-text-color;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: $space-small;
  padding-right: $space-small;
}

.escapeHatch {
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:hover {
    cursor: pointer;
  }
}

.headerSection {
  flex-grow: 1;
}

.logoTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerActionsContainer {
  display: flex;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
}