@import "../resources/styles/vars";

$recipe-card-width: 310px;
$recipe-card-height: 400px;

$recipe-img-height: 200px;

.recipeCard {
  padding: 0;
  width: $recipe-card-width;
  border: 1px solid white;
  transition: border 400ms;

  &:hover {
    border: 1px solid $primary-color;

    p {
      color: black;
    }
  }

  p {
    transition: color 600ms;
    color: rgba(0, 0, 0, 0.6);
  }

  img {
    padding: 0;
    height: $recipe-img-height;
    width: inherit;
    object-fit: cover;
  }
}

.recipeCardContent {
  padding: 5px;
}

.recipeCardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
