@import "../resources/styles/vars";

.filterViewBase {
  position: relative;

}

.summaryBase {
  background-color: teal
}

.filterViewMenu {
  width: 300px;
  top: 2px;
  border-radius: $space-tiny;
  border: 1px solid #707070;
  position: absolute;
  z-index: 99;
  background-color: white;
}

.filterItemList {
  max-height: 435px;
  overflow-y: scroll;
}

.colorDot {
  height: $space;
  width: $space;
  border-radius: $space;
}

.filterItem {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  text-transform: none;
  box-sizing: border-box;
  list-style-type: none;
  background-color: inherit;

  &:hover {
    background-color: #f1f1f1;
  }

  &:active {
    background-color: #b0b0b0;
  }
}

.filterItemSelected {
  background-color: $primary-color;
}