@import "../resources/styles/vars";

.summaryButton {
  justify-content: space-between;
  padding: $space-small;
  border-radius: $space-tiny;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: none;
  color: black;
  background-color: unset;
  transition: background-color 400ms, color 250ms;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: $primary-color;
    border-color: $primary-color;
    filter: none;
  }
}

.tagFilterDetails {
  &[open] {
    > summary {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid grey;
    }
  }
}

.filterViewBase {
  position: relative;
}

.filterViewMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  border-bottom-left-radius: $space-tiny;
  border-bottom-right-radius: $space-tiny;
  border: 1px solid #707070;
  border-top: none;
  background-color: white;
}

.grayBorderBottom {
  border-bottom: 1px solid $gray-color;
}

.filterItemList {
  max-height: 435px;
  overflow: auto;
}

.leftShiftItem {
  margin-left: -$space-small;
}

.colorDot {
  height: $space;
  width: $space;
  border-radius: $space;
  margin: $space-tiny;
}

.filterItem {
  z-index: 100;
  padding: $space-small $space-tiny $space-small $space;
  border: none;
  border-bottom: 1px solid $gray-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: inherit;

  &:hover {
    background-color: $gray-color-hover;
  }

  &:active {
    background-color: $gray-color-active;
  }

  &:last-child {
    border-bottom: none;
  }
}

.filterItemSelected {
  background-color: $primary-color-selected;

  &:hover {
    background-color: $primary-color-selected-hover;
  }

  &:active {
    background-color: $primary-color-selected-active;
  }
}

.manageTags {
  color: dimgrey;
}

.detail-size-fixed {
  width: 300px;
}

.detail-size-full {
  width: 100%;
}

.detail-size-responsive {
  width: 100%;
  max-width: none;
  @media (min-width: 1024px) {
    width: 300px;
  }
}
